@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.maps-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 320px;
    
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: inset 1px 1px 100px black;
    padding: 15px  15px 15px 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    transition: 0.4s;
    
}

.map:hover {
    
    transform: scale(1.02);
    cursor: pointer;
}
.map * {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 1.3rem;
}

.map p {
    text-shadow: black 0.1rem 0.1rem 0.1em;
}

.map ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.map ul li {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: fit-content;
    
}
.top, .bot {
    display: flex;
    justify-content: space-between;
}

.top, .mid {
    margin-bottom: 40px;
}

.top div {
    display: flex;
}

.mid div {
    display: flex;
}

.mid p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
}

.maps-container .map svg {
   margin-left: 5px; 
   display: block;
   font-size: 1.1rem;
   filter: drop-shadow(0px 0px 2px black)
}

.row {
    display: flex;
    align-items: center;
}

.map img {
    margin-right: 5px;
}
.top path {
    fill: rgb(255, 217, 0);
}
.map img {
    width: 48px;
    height: auto;
    filter: drop-shadow(0px 0px 5px black)
}

.map span {
    font-size: 0.7rem;
    font-weight: 600px;
    display: flex;
    align-items: center;
    color: #F9D9D7;
    background-color: #526779;
    border-radius: 5px;
    padding: 5px;
    margin-right: 4px;
}

.map li {
    font-size: 1.2rem;
    
}

.title {
    position: relative;
    
}

.mid p:hover {
    overflow: visible !important;
    background-color: rgb(27, 27, 27);
    color: white;
    z-index: 20;
}
.title:hover::after {
    content: attr(data-title);
    border-radius: 3px;
            padding: 5px;
            max-width: 150px;
            border: 1px solid #000;
            position: absolute;
            top: -35px;
            left: -0px;
            background: #dadada;
            color: rgb(41, 41, 41);
            text-shadow: none;
            
}
 
.map .top-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map {
    position: relative;
}

.map .mods-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    left: -20px;
    height: 205.2px;
    gap: 15px;
}

.map .mods-container img {
    transform: translateY(-44%);
    width: 40px;
}

.top-left > div{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 650px) { 
    .maps-container {
        max-width: 630px;
        justify-content: space-between;
    }
}