@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.profil-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 30px 10px 20px 10px;
    background-color: #526779;
    border-radius: 5px;
}

.profil-container  * {
    font-size: 1.2rem;
    color: #E2BFA7;
    font-family: 'Oswald', sans-serif;
}

.profil-head img {
    width: 130px;
    border-radius: 20px;
    margin: 15px 10px 10px 10px;
    
}

.profil-head {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #0D1D2C;
    border-radius: 10px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 130px;
    width: 150px;
}

.rank-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rank-container  img {
    width: 25px;
    border-radius: 0;
    
}

.rank-container > p {
    display: flex;
    align-items: center;
    margin: 5px 5px 0 0;
}

.rank-container > p img {
    margin: 0 8px 0 0 ;
}

.lvl {
    border: 2px solid #E2BFA7;
    padding: 6px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.pp {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0px 0 0 10px;
}

.head h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.lvlpp {
    margin: 0 0 15px 10px;
}

.profil-container ul {
    display: flex;
    flex-direction: row;
    
}
.profil-container li img {
    width: 40px;
}

.profil-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 25px 0;
}

.profil-container li p {
    font-size: 1.1rem;
}

