@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
.profil-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 30px 10px 20px 10px;
    background-color: #526779;
    border-radius: 5px;
}

.profil-container > * {
    color: #F9D9D7;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
}

.profil-head img {
    width: 130px;
    border-radius: 20px;
}
.profil-head {
    width: 100%;
    background-image: none !important;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #0D1D2C;
    padding: 15px;
    border-radius: 15px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 140px;
    font-size: 1.8rem;
    justify-content: space-between;
    padding-left: 10px;
    height: 130px;
}

.name h1 {
    color: #E2BFA7;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.head :first-child {
    font-weight: 700;
    font-size: 1.8rem;
}

.head :last-child {
    font-size: 1.2rem;
}

.name img {
    margin-right: 10px;
}

.head-info {
    display: flex;
    flex-direction: column;

}

.profil-container .flag {
    width: 22px;
    border-radius: 0;
}
.rank img {
    width: 20px;
    margin-right: 6px;
}
.rank {
    display: flex;
    align-items: flex-end;
    font-size: 1.2rem;
    font-weight: 500;
}

.pp {
    text-align: center;
    width: 130px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #E2BFA7;
}

.profil-container .lvl {
    padding: 5px;
    border: solid 2px #E2BFA7;
    font-size: 1rem;
    border-radius: 8px;
}

.acc {
    margin-top: 10px;
}

.title {
    margin-left: 0;
}

.flag-container {
    margin-top: 4px;
} 

.profil-container .head h1 {
    margin-left: 2px;
    font-size: 1.3rem;
}