form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.search {
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border: 2px solid #0D1D2C; 
    border-right: none;
    width: 75%;
    text-align: center;
    font-size: 1.4rem;
    color: #0D1D2C;
    font-family:'Oswald', sans-serif ;
    font-weight: 600;
    max-width: 300px;
}

.search:focus {
    background-color: #ffffff;
    height: 50px;
    outline: none; 
    color: #0D1D2C;
    font-size: 1.4rem;
}

.search:focus::placeholder {
    color: transparent;
}

.search::placeholder {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(162, 162, 162);
}

.send {
    position: relative;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
    background-color: #0D1D2C;
    border: 2px solid #0D1D2C;
    width: 25%;
    z-index: 0;
    max-width: 100px;
    cursor: pointer;
}

.send svg {
    position: static;
    font-size: 1.5rem;
    color: #F9D9D7;
}

@media (min-width: 425px) {

    #root {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .App {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .send {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .send::after {
        content: "Rechercher";
        color: #F9D9D7;
        font-weight: 700;
        font-size: 0.9rem;
        
    }

    form {
        width: 100%;
    }

    .search {
        font-size: 1.6rem;
    }
    .search::placeholder {
        font-size: 1.4rem;
    }

    .search:focus {
        font-size: 1.6rem;
    }

}


